body {
    background-color: #0f171e;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 600;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  .ticket {
    width: 400px;
    background-color: white;
    margin: 25px auto;
    position: relative;
    border-radius: 10px;
  }
  
  .title {
    padding: 50px 25px 10px;
  }
  
  .cinema {
    font-size: 22px;
  }
  
  .movie-title {
    font-size: 50px;
    font-weight: bold;
  }
  
  .info {
    padding: 15px 25px;
  }
  
  table {
    width: 100%;
    font-size: 18px;
    margin-bottom: 15px;
  }
  table tr {
    margin-bottom: 10px;
  }
  table th {
    text-align: left;
  }
  table th:nth-of-type(1) {
    width: 38%;
    font-weight: 500;
  }
  table th:nth-of-type(2) {
    width: 40%;
    font-weight: 500;
  }
  table th:nth-of-type(3) {
    width: 15%;
  }
  table td {
    width: 33%;
    font-size: 22px;
    font-weight: 400;
  }
  
  .bigger {
    font-size: 28px;
    font-weight: 400;
  }
  
  .margin-top {
    margin-top: 120px!important;
  }