html,
body {
    position: relative;
    height: 100%;
}

body {
    font-size: 14px;
    margin: 0;
    padding: 0;
}

swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide1 {
    background-image: url('../IMAGE/Oppenheimer.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}