<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/style.css"/>
        <title>Document</title>
    </head>
    <body>
    {% extends "base.html" %}
    {% block content %}

    <h1>hello</h1>
    <p>This is TixHub Where you can book your tickets for your favourite movies and shows</p>
    <a href="{% url 'base:logout' %}">Logout</a>

    {% endblock content %}
</body>
</html>
