<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/index.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <title>Home</title>
</head>

<body>
    {% include "base.html" %}
    {% block content %}

    <!--* Swiper -->
    <swiper-container class="mySwiper" pagination="true" pagination-clickable="true" space-between="0"
        centered-slides="true" autoplay-delay="2500" autoplay-disable-on-interaction="true">
        <swiper-slide class="slide1">
            <div class="container d-flex justify-content-end flex-column h-100 text-container text-white">
                <div class="row">
                    <div class="col">
                        <div class="">
                            <div class="movie-text">
                                <h1 class="mb-3 fs-1">Oppenheimer</h1>
                                <p>Biography, Drama, History <span class="ms-2"><img src="../static/IMAGE/calendar.png"
                                            class="img-fluid align-baseline align-baseline" width="18px" alt=""> 2023</span><span class="ms-2"><img
                                            src="../static/IMAGE/clock.png" width="25px" class="img-fluid align-baseline" alt="">2h
                                        49m</span></p>
                            </div>

                            <div class="rating-sec mb-3">
                                <img src="../static/IMAGE/rating.png" width="90px" alt="">
                                <button type="button" class="btn text-white border-white border-2 px-2 rounded-0 py-1 ms-3">PG - 13</button>
                            </div>
                            <div class="movie-btn">
                                <button class="btn">Book Tickets</button>
                                <button class="btn">Review</button>
                                <button class="btn">More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="text-end right-sec">
                            <p>Christopher Nolan : <span>Director</span></p>
                            <p>Cillian Murphy, Emily Blunt, Matt Damon : <span>Stars</span></p>
                            <p>The story of American scientist J. Robert Oppenheimer and his role in the development of the atomic bomb.</p>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="slide2">
            <div class="container d-flex justify-content-end flex-column h-100 text-container text-white">
                <div class="row">
                    <div class="col">
                        <div class="">
                            <div class="movie-text">
                                <h1 class="mb-3 fs-1">12th Fail</h1>
                                <p>Biography, Drama <span class="ms-2"><img src="../static/IMAGE/calendar.png"
                                            class="img-fluid align-baseline align-baseline" width="18px" alt=""> 2023</span><span class="ms-2"><img
                                            src="../static/IMAGE/clock.png" width="25px" class="img-fluid align-baseline" alt="">2h
                                        27m</span></p>
                            </div>

                            <div class="rating-sec mb-3">
                                <img src="../static/IMAGE/rating.png" width="90px" alt="">
                                <button type="button" class="btn text-white border-white border-2 px-2 rounded-0 py-1 ms-3">PG - 13</button>
                            </div>
                            <div class="movie-btn">
                                <button class="btn">Book Tickets</button>
                                <button class="btn">Review</button>
                                <button class="btn">More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="text-end right-sec">
                            <p>Vidhu Vinod Chopra : <span>Director</span></p>
                            <p>Vikrant Massey, Medha Shankar, Anant Joshi : <span>Stars</span></p>
                            <p>A 12th-grade dropout finds their path to success against all odds.</p>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="slide3">
            <div class="container d-flex justify-content-end flex-column h-100 text-container text-white">
                <div class="row">
                    <div class="col">
                        <div class="">
                            <div class="movie-text">
                                <h1 class="mb-3 fs-1">Dune: Part Two</h1>
                                <p>Action, Sci-fi, Fantasy <span class="ms-2"><img src="../static/IMAGE/calendar.png"
                                            class="img-fluid align-baseline align-baseline" width="18px" alt=""> 2024</span><span class="ms-2"><img
                                            src="../static/IMAGE/clock.png" width="25px" class="img-fluid align-baseline" alt="">2h
                                        46m</span></p>
                            </div>

                            <div class="rating-sec mb-3">
                                <img src="../static/IMAGE/rating.png" width="90px" alt="">
                                <button type="button" class="btn text-white border-white border-2 px-2 rounded-0 py-1 ms-3">PG - 13</button>
                            </div>
                            <div class="movie-btn">
                                <button class="btn">Book Tickets</button>
                                <button class="btn">Review</button>
                                <button class="btn">More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="text-end right-sec">
                            <p>Denis Villeneuve : <span>Director</span></p>
                            <p>Timothee Chalamet, Zendaya, Rebecca Ferguson : <span>Stars</span></p>
                            <p>Paul Atreides leads the fight for Arrakis's future.</p>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="slide4">
            <div class="container d-flex justify-content-end flex-column h-100 text-container text-white">
                <div class="row">
                    <div class="col">
                        <div class="">
                            <div class="movie-text">
                                <h1 class="mb-3 fs-1">Kraven the Hunter</h1>
                                <p>Action, Sci-fi <span class="ms-2"><img src="../static/IMAGE/calendar.png"
                                            class="img-fluid align-baseline align-baseline" width="18px" alt=""> 2024</span><span class="ms-2"><img
                                            src="../static/IMAGE/clock.png" width="25px" class="img-fluid align-baseline" alt="">2h
                                        49m</span></p>
                            </div>

                            <div class="rating-sec mb-3">
                                <img src="../static/IMAGE/rating.png" width="90px" alt="">
                                <button type="button" class="btn text-white border-white border-2 px-2 rounded-0 py-1 ms-3">PG - 13</button>
                            </div>
                            <div class="movie-btn">
                                <button class="btn">Book Tickets</button>
                                <button class="btn">Review</button>
                                <button class="btn">More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="text-end right-sec">
                            <p>J.C. Chandor : <span>Director</span></p>
                            <p>Aaron Taylor, Russell Crowe, Christopher Abbott : <span>Stars</span></p>
                            <p>Russian immigrant Sergei Kravinoff sets out on a mission to prove himself as the greatest hunter in the world.</p>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
        <swiper-slide class="slide5">
            <div class="container d-flex justify-content-end flex-column h-100 text-container text-white">
                <div class="row">
                    <div class="col">
                        <div class="">
                            <div class="movie-text">
                                <h1 class="mb-3 fs-1">Deadpool & Wolverine</h1>
                                <p>Action, Comedy, Sic-fi <span class="ms-2"><img src="../static/IMAGE/calendar.png"
                                            class="img-fluid align-baseline align-baseline" width="18px" alt=""> 2024</span><span class="ms-2"><img
                                            src="../static/IMAGE/clock.png" width="25px" class="img-fluid align-baseline" alt="">2h
                                        49m</span></p>
                            </div>

                            <div class="rating-sec mb-3">
                                <img src="../static/IMAGE/rating.png" width="90px" alt="">
                                <button type="button" class="btn text-white border-white border-2 px-2 rounded-0 py-1 ms-3">PG - 13</button>
                            </div>
                            <div class="movie-btn">
                                <button class="btn">Book Tickets</button>
                                <button class="btn">Review</button>
                                <button class="btn">More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col align-self-end">
                        <div class="text-end right-sec">
                            <p>Shawn Levy : <span>Director</span></p>
                            <p>Josh Brolin, Ryan Reynolds, Morena Baccarin : <span>Stars</span></p>
                            <p>Deadpool and Wolverine unite against a common mutant threat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </swiper-slide>
    </swiper-container>

    <!-- <a href="{% url 'base:logout' %}">Logout</a> -->

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-element-bundle.min.js"></script>

    {% endblock content %}
</body>

</html>