<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Details</title>
</head>
<body>
    
    <div class="text-end right-sec">
        <p>{{movie.director}} : <span>Director</span></p>
        <p>{{movie.actors}} : <span>Stars</span></p>
        <p>{{movie.story}}</p>
        {% for m in movie.cast_members.all %}
        <p>{{m.cast_name}}</p>
        <img src="../media/{{m.cast_image}}" alt="" height="100px" width="100px">
        {% endfor %}
    </div>

</body>
</html>
